<section id="contactos">
            <div class="contrainer">
                <div class="flex-container">
                    <div class="flex-item"align="center">
                        <h2 align="center">Telefonos</h2>
                        <p align="center">0987654321</p>
                        <p align="center">0789654321</p>
                    </div>
                    <div class="flex-item" align="center">
                        <h2 align="center">Email</h2>
                        <p align="center">gamestore@gmail.com</p>
                        <p align="center">gamestore@hotmail.com</p>
                    </div>
                    <div class="flex-item" align="center">
                        <h2 align="center">Direccion</h2>
                        <p align="center">Belisario Quevedo y Barrio San Miguel Pamba</p>
                    </div>
                </div>

            </div>

        </section>