<!---Encabezado--->
    <header class="header">
        <div class="banner">
            <h1>TRANSPORTATE A UN MUNDO VIRUTAL</h1>
            <h2>ENCUENTRA LO ULTIMO EN CONSOLAS <br> Para vivir los juegos al máximo</h2>
            <div class="box-2">
                <div class="btn btn-two">
                  <span>Explorar</span>
                </div>
            </div>
        </div>
    </header>