<section id="informacion">
            <div class="contrainer">
                    <div class="flex-container">
                        <div class="flex-item">
                            <div class="cont" align="center">
                                <img class="imagen" ind="logo" src="/images/Logo.jpg" aling="center" alt="">
                            </div>
                        </div>
                                <div class="flex-item" align="center">
                                    <div class="cont" align="center">
                                            <h1 align="left" ><strong>Sobre nosotros</strong></h1>
                                            <h2 align="left">GAME STORE</h2>
                                            <p align="left">LA MEJOR TIENDA DEL PAIS EN CONSOLAS</p>
                                            <p align="left">LOS MEJORES PRECIOS EN CONSOLAS</p>
                                            <p align="left">LOS MEJORES PRECIOS EN VIDEOJUEGOS</p>
                                            <div class="box-2">
                                                <div class="btn btn-two" >
                                                     <span>Informacion</span>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                        </div>
                    </div>
            
        </section>