<section class="productos">
            <div align="center">
                <h1>ULTIMOS MODELS DE NUESTRAS CONSOLAS</h1>
                <h2>LAS CONSOLAS MAS DESTACADAS DE NUESTRA SECCION</h2>
                <h2>"GAMER DE ULTIMA GENERACION"</h2>
            </div>
            <div class="container">
                <div class="flex-container">
                    <div class="flex-item">
                        <div class="fle d-flex flex-wrap">
                            {{getProduct}}
                        </div>
                        {{!-- <div class="prodcenter" align="center"> --}}
                            
                            {{!-- <img src="/images/producto1.jpg" alt="PC" align="center" width="320px" >
                            <h4 align="center">PC GAMER ULTIMA GENERACION</h4>
                            <h4 align="center"><strong>2500$</strong></h4> --}}
                        {{!-- </div> --}}
                    </div>
                    
                     {{!-- <div class="flex-item">                      
                        <div class="prodcenter" align="center">
                            <img src="/images/Producto2.jpg" alt="PS5" align="center" width="378px" >
                            <h4 align="center">PLAY STATION 5</h4>
                            <h4 align="center"><strong>499.99$</strong></h4>
                        </div>
                    </div>
                    <div class="flex-item" >
                        <div class="prodcenter" align="center">
                            <img src="/images/producto 3.jpg" alt="Xbox" align="center" width="320px" >
                            <h4 align="center">XBOX SERIE X</h4>
                            <h4 align="center"><strong>399.99$</strong></h4>
                        </div>
                        
                    </div> --}}
                </div>
            </div>
        </section>