<!DOCTYPE html>
<html lang="en">
    {{>head}}
        <body>
            {{>header}}
            <main>
                {{>info}}
                {{>productos}} 
            </main>
            {{>footer}}
            {{>pie}}
        </body>
</html>